DEBUG=True

SECRET_KEY=django-insecure-troque-em-producao
ALLOWED_HOSTS= host1;host2;host3

DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=

REDIS_URL=redis://redis:6379/1

OLLAMA_URL=http://ollama:11434
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_DIM=768

SHINZOU_SERVICE_TOKEN=
SHINZOU_URL=http://shinzou:8001
